{% extends 'base.html.twig' %}

{% block title %}Dcategory index{% endblock %}

{% block body %}
    <h1>Dcategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>DcategoryId</th>
                <th>DcategoryName</th>
                <th>DcategoryDescription</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dcategory in dcategories %}
            <tr>
                <td>{{ dcategory.dcategoryId }}</td>
                <td>{{ dcategory.dcategoryName }}</td>
                <td>{{ dcategory.dcategoryDescription }}</td>
                <td>
                    <a href="{{ path('app_dcategory_show', {'dcategoryId': dcategory.dcategoryId}) }}">show</a>
                    <a href="{{ path('app_dcategory_edit', {'dcategoryId': dcategory.dcategoryId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_dcategory_new') }}">Create new</a>
{% endblock %}
